body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header {
  padding: 10px;
  display: flex;
  gap: 10px;
  background: #020617;
  align-items: center;
}

select, button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
}

#grid {
  margin: 10px auto;
  display: grid;
  width: fit-content;
}

.node {
  width: 25px;
  height: 25px;
  border: 1px solid #1e293b;
}

.node.start { background: #22c55e; }
.node.end { background: #ef4444; }
.node.wall { background: #020617; }
.node.visited { background: #38bdf8; animation: pop 0.15s ease-out; }
.node.path { background: #facc15; animation: glow 0.4s ease-in-out infinite alternate; }

@keyframes pop {
  from { transform: scale(0.3); }
  to { transform: scale(1); }
}

@keyframes glow {
  from { box-shadow: 0 0 0px #facc15; }
  to { box-shadow: 0 0 10px #facc15; }
}
